/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  text-align: center;
  font-size: 30px;
}

.header, .index_menu, .delete, .post_user_name {
  margin-left: 24px;
}

#title_name, #post_title, #post_title_2, #edit, .post_user_name, .page-link, #order_new, #order_old {
  text-decoration: none;
}

.title:hover,.header-nav:hover,.navbar-item:hover
, #post_title:hover, .post_user_name:hover, #edit:hover, .page-link:hover
, #order_new:hover, #order_old:hover {
  opacity: 0.7;
}

.menu {
  display: flex;
  float: right;
  font-size: 20px;
  margin-bottom: 16px;
}

.header-nav, #header_edit {
  padding: 0px 8px;
  text-decoration: none;
}

.navbar-item {
  padding: 0px 8px;
  text-decoration: none
}


.tilte_content {
  color: blue;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.content_text, .tilte_content {
  max-width: 600px;
  margin: 0 auto;
}

.post_user_name {
  padding: 8px 0px;
}

#post, #post_list, #user_list, #make_post, #user_list_2, #post_list_2
,#user_list_3, #post_list_3, #user_list_4, #post_list_4
, #post_list_5, #user_list_5, #header_edit {
  border: 3px solid;
  font-size: 15px;
}

#edit {
  border: 3px solid;
  font-size: 15px;
  padding: 0px 8px;
}

#posts_list {
  border: 3px solid;
  font-size: 15px;
}

.list, .order, .result {
  text-align: center;
  margin-bottom: 16px;
}

.display, .display_title
, .display_body, .display_update
,.display_genre, .display_title, .display_body, .display_post
, .field, .display_username, .display_profile, .display_register
, .display_mail , .display_delete, .actions, .render {
  margin-left: 40%;
  margin-bottom: 16px;
}

.list_content {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
}

.post_body {
  font-size: 20px;
  margin-top: 24px;
}

.page {
  margin-top: 16px;
}

.pagination {
  list-style: none;
  display: flex;
  width: 50px;
  justify-content: space-between;
  text-align: center;
  margin-left: 40%;
}

.page-link {
  padding: 0px 8px;
}

.search_form {
  margin-top: 16px;
  margin-left: 8px;
}