<h1><%= link_to "KEIO CAMPUS HACK", root_path %></h1>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-nav" %>

<% else %>
  <%= link_to "ログイン", new_user_session_path, class: "header-nav" %>
  <%= link_to "サインアップ", new_user_registration_path, class: "header-nav" %>
<% end %>