<br>
<%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light" %>
<br>
<%= link_to "投稿者一覧", users_path, class: "navbar-item button is-warning is-light" %>

<h2>慶應のキャンパスライフをハックせよ！</h2>
<h3>ここでは先輩方の知識と経験による大学生活を豊かに過ごす情報がたくさんあります！
大学生活では情報収集がとても重要になりますので、ぜひ活用して下さい！</h3>