<%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light" %>
<br>
<%= link_to "投稿者一覧", users_path, class: "navbar-item button is-warning is-light" %>

<h2>慶應のキャンパスライフをハックせよ！</h2>