<div class="header">
<%= link_to "投稿一覧", posts_path, class: "navbar-item button is-warning is-light", id: "post" %>
<%= link_to "ユーザ一覧", users_path, class: "navbar-item button is-warning is-light", id: "post_list" %>
</div>

<h2 class="tilte_content">慶應のキャンパスライフをハックせよ！</h2>
<h3 class="content_text">ここでは先輩方の知識と経験による大学生活を豊かに過ごす情報がたくさんあります！
大学生活では情報収集がとても重要になりますので、ぜひ活用して下さい！</h3>

<link rel="stylesheet" href="./app/assets/stylesheets/application.css">